/*
* Dynamic Skeleton V1.0.0
* Copyright 2019, Peter Munch-Ellingsen
* skeleton.peterme.net
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 22/10/2019
*
* Based on Skeleton v2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

@import "variables.css";

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color); }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var(--heading-margin);
  color: var(--heading-color);
  font-family: var(--heading-font-family); }
h1, h2 {
  font-weight: 400; }
h3, h4 {
  font-weight: 500; }
h5, h6 {
  font-weight: 600; }
h1 {
  font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch-phone)*5);
  line-height: calc(var(--heading-base-line-height) - var(--heading-decrease-pitch)*4); }
h2 {
  font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch-phone)*4);
  line-height: calc(var(--heading-base-line-height) - var(--heading-decrease-pitch)*4); }
h3 {
  font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch-phone)*3);
  line-height: calc(var(--heading-base-line-height) - var(--heading-decrease-pitch)*3); }
h4 {
  font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch-phone)*2);
  line-height: calc(var(--heading-base-line-height) - var(--heading-decrease-pitch)*2); }
h5 {
  font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch-phone));
  line-height: calc(var(--heading-base-line-height) - var(--heading-decrease-pitch));}
h6 {
  font-size: var(--heading-base-size);
  line-height: var(--heading-base-line-height);
  text-transform: uppercase; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch)*5); }
  h2 { font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch)*4); }
  h3 { font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch)*3); }
  h4 { font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch)*2); }
  h5 { font-size: calc(var(--heading-base-size) + var(--heading-increase-pitch)); }
  h6 { font-size: var(--heading-base-size); }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--link-color); }
a:hover {
  color: var(--link-color-hover); }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: var(--button-height);
  padding: 0 var(--button-padding-leftright);
  color: var(--button-color);
  background-color: var(--button-background-color);
  text-align: center;
  font-size: 73%;
  font-weight: 600;
  line-height: var(--button-line-height);
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  border-color: var(--button-border-color);
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--button-color-focus);
  background-color: var(--button-background-color-focus);
  border-color: var(--button-border-color-focus);
  outline: 0; }
/* If more button styles are wanted copy all button-primary styles and create
 * a new one. */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color); }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: var(--button-primary-color-focus);
  background-color: var(--button-primary-background-color-focus);
  border-color: var(--button-primary-border-color-focus); }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: var(--input-height);
  padding: var(--input-padding-topbottom) var(--input-padding-leftright);
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: var(--input-border) var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: none;
  box-sizing: border-box; }
::placeholder {
  color: var(--placeholder-color);
  opacity: var(--placeholder-opacity);
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: var(--textarea-min-height); }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: var(--input-border) var(--input-border-color-focus);
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  color: var(--code-color);
  background: var(--code-background-color);
  border: var(--code-border) var(--code-border-color);
  border-radius: var(--code-border-radius); }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  color: var(--code-block-color);
  background: var(--code-block-background-color);
  border: var(--code-block-border) var(--code-block-border-color);
  border-radius: var(--code-block-border-radius); }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: calc(var(--font-size)/1.5) calc(var(--font-size));
  text-align: left;
  border-bottom: var(--td-border-bottom); }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right!important; }
.u-pull-left {
  float: left!important; }
.u-center {
  text-align: center; }
.u-uppcase {
  text-transform: uppercase; }
.u-hero > * {
  margin-top: var(--hero-padding); }
.u-hero > .row {
  margin-right: 0rem;
  margin-left: 0rem; }
.u-hero {
  padding-top: var(--hero-padding);
  margin-bottom: var(--hero-padding); }

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.navbar {
  list-style-type: none;
  margin: 4rem 0;
  padding: 0;
  overflow: hidden;
  border-top: var(--navbar-border-top);
  border-bottom: var(--navbar-border-bottom); }

ul.navbar > li {
  float: left;
  margin-bottom: 0; }

ul.navbar > li a {
  display: block;
  text-align: center;
  padding: calc(var(--font-size)) calc(var(--font-size)*1.5);
  text-decoration: none; }

ul.navbar > li a > * {
  margin: 0!important; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 4rem;
  margin-bottom: 4.5rem;
  border-width: 0;
  border-top: var(--hr-border-top); }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
